.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3BBED1;
    color: white;
}

.logo img {
    height: 100px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    font-family: 'agrandir wide light', sans-serif;
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: bolder;
}

.nav-links a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.notification-icon-header{
    height: 30px;
    width: auto;
}

.notification-exclamation-icon-header{
    height: 30px;
    width: auto;
    transition: transform 0.5s ease-in-out;
    animation: pulse 1s infinite;
}

.notification-exclamation-icon-header.shake {
    animation: shake 1s ease-in-out infinite; 
  }
  
  @keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}