.mentee-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px;
    background-color: #3BBED1;
    padding-bottom: 100px;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 80%;
}

.match-section {
    width: 90%;
    margin-top: 20px;
}

.user-profile-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    
}

.profile-left {
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;
    min-height: 25em;
    min-width: 35em;
}

.profile-right {
    background-color: #007785;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;
    min-height: 25em;
    min-width: 35em;
}

.profile-icon img{
    height: 80px;
    margin-top: 15px;
}

.matching-icon img {
    height: 80px;
    padding: 10px;
}

.save-icon img {
    height: 40px;
    cursor: pointer;
}

.reset-icon img {
    height: 35px;
    cursor: pointer;
}

.profile-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info p {
    color: #3BBED1;
    text-align: left;
}

.match-info {
    display: flex;
    flex-direction: column;
}

.match-info p {
    color: white;
    text-align: left;
}

.profile-left-info {
    display: flex;
    flex-direction: column;
    
}

.profile-right-info {
    display: flex;
    flex-direction: column;

}

.matching-info-right {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.matching-info-left {
    display: flex;
        flex-direction: column;
        margin-left: 2em;
}

.matching-info-left p{
    color: #3BBED1;
    text-align: left;
}

.matching-info-right p {
    color: white;
    text-align: left;
}

.bottom-right-button {
    bottom: 10px;
    right: 20px;

}

.full-profile {
    bottom: 10px;
    right: 20px;
}

.bottom-buttons-container {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    white-space: nowrap;
    margin-left: 200px;
}

.bottom-buttons-container button {
    font-size: 1em;
    background-color: white;
    color: #3BBED1;
    margin-top: 20px;
}


.bottom-buttons-container-manual {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    white-space: nowrap;
    margin-left: 200px;
}

.bottom-buttons-container-manual button {
    font-size: 1em;
    background-color: #3BBED1;
    color: white;
    margin-top: 5px;
}

.bottom-right-button button {
    font-size: 1em;
    padding: 10px;
}

.bottom-right-button {
     display: flex;
     margin-left: 410px;
     margin-top: 30px;
}

.error-message-profile {
    color: white;
        background-color: rgb(167, 25, 25);
        font-size: 1vw;
        text-align: center;
        padding: 0.4rem 0.7rem;
        border-radius: 18px;
        width: fit-content;
     
    }

.error-message-profile-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.mentor-profiles {
    display: flex;
        flex-wrap: wrap;
justify-content: center;
    align-items: center;}

.mentor-profile-row {
    display: flex;
    flex-direction: row;
}

.mentor-profiles-box {
    display: flex;
        /* justify-content: space-between; */
        align-items: center;
        margin: 20px 10px;
}

.profile-mentor {
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;
    min-height: 22em;
    min-width: 25em;
}