/* Profile.css */

.profile-page {
    background-color: #3BBED1;
    min-height: 100vh;
}

.edit-icon {
    width: 20px;
    /* Set the desired width */
    height: 20px;
    /* Set the desired height */
    cursor: pointer;
    float: right;
}

/* Centered text styles */
.text-center {
    text-align: center;
}

/* Profile heading styles */
.profile-heading {
    font-size: 3em;
    margin-bottom: -20px;
}

/* Account type styles */
.account-type {
    font-size: 1em;
    color: #3BBED1;
    background: white;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 10px;
}

/* Container styles */
.profile-container {
    display: flex;
    justify-content: space-around;
}

/* Box styles */
.profile-settings-box {
    width: 45%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #007785;

}

/* Editable attribute styles */
.editable-attribute {
    display: flex;
    align-items: center;
    color: #3BBED1;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    justify-content: space-between;


}

.dropdown-title{
    color: #3BBED1;
    background: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;

}

/* Dropdown styles */
.dropdown {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}
.custom-select .Select-option {
    color: green;
    /* Change the color of the dropdown options */
}

.save-info {
    margin-top: 20px;
    text-align: center;
}

.save-info button {
    padding: 10px 20px;
    width: 10%;
    margin-bottom: 20px;
}

.save-button {
        width: 15%;
        font-size: 1em;
}

.cancel-button {
    width: 15%;
    font-size: 1em;
}

.job-role-field {
    width: 40%;
}

.job-role {
    text-align: left;
    text-transform: capitalize;
}