/* Profile.css */

.profile-page {
    background-color: #3BBED1;
    min-height: 100vh;
}

.edit-icon {
    width: 20px;
    /* Set the desired width */
    height: 20px;
    /* Set the desired height */
    cursor: pointer;
    float: right;
}

/* Centered text styles
.text-center {
    text-align: center;
    display: inline-block;
  
} */

/* Profile heading styles */
.profile-heading {
    font-size: 3em;
    margin-bottom: -20px;


}

/* Account type styles */
.account-type {
    font-size: 1em;
    color: #3BBED1;
    background: white;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 10px;
}

/* Container styles */
.profile-container {
    display: flex;
    justify-content: space-around;
}

/* Box styles */
.profile-settings-box {
    width: 45%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #007785;

}

/* Editable attribute styles */
.editable-attribute {
    display: flex;
    align-items: center;
    color: #3BBED1;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    justify-content: space-between;


}

.dropdown-title{
    color: #3BBED1;
    background: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;

}

/* Dropdown styles */
.dropdown {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}
.custom-select .Select-option {
    color: green;
    /* Change the color of the dropdown options */
}

.save-info {
    margin-top: 20px;
    text-align: center;
}

.save-info button {
    padding: 10px 20px;
    width: 50%;
    margin-bottom: 20px;
}

.save-button {
        width: 25%;
        font-size: 1em;
}

.cancel-button {
    width: 15%;
    font-size: 1em;
}

.job-role-field {
    width: 40%;
}

.job-role {
    text-align: left;
    text-transform: capitalize;
}

/* Add these styles to your existing CSS or create a new stylesheet */
.save-message {
    padding: 1px 0px 1px 0px;
    text-align: center;
    max-width: 500px;
    border-radius: 10px;
    margin: 0 auto;
}

.success {
    background-color: rgb(5, 147, 5);
    color: white;
}

.error {
    background-color: rgb(208, 51, 51);
    color: white;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.find-coach-button:hover {
    background-color: #fff;
    color: #007785;
}

.full-profile-button:hover {
    background-color: #3BBED1;
    color: white;
}

.match-request-button:hover {
    background-color: #3BBED1;
    color: white;
}

.notification-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin-right: 40px;
    margin-top: -90px;
    text-align: center;
}

.notification-icon {
    width: auto;
    height: 60px;
}

.notification-caption {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.header-settings{
    text-align: center;
}