.terms-page {
    /* display: flex;
    /* justify-content: center; */ 
    background-color: #3BBED1;
    align-items: center;
    height: 100vh;
}

.terms-message{
        margin-top: 1em;
        margin-left: 0.2em;
        background-color: #3BBED1;
}