.terms-page {
    display: flex;
     height: 100vh;
    padding: 20px;
    margin-top: -30px;
     background-color: #3BBED1;
     flex-direction: column;

}

.terms-message{
        padding-top: 1em;
        margin-left: 0.2em;
        color: white;
}

.terms-of-use-text {
    color: black;
    text-align: left;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}