.welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #3BBED1;
}

.welcome-box {
    text-align: center;
    color:#3BBED1;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border-radius: 20px;
    height: 20em;
    border-radius: 20px;
}